.footer {
  @extend %section;
  background-color: $footer-bg-color;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // padding-top: 50px;
    padding-bottom: 94px;
    @extend %padding;

    @include media {
      // @extend %container;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      padding-top: 96px;
      padding-bottom: 94px;
    }
  }
  &__title {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    color: $white-color;
    margin-bottom: 10px;

    @include media {
      font-size: 45px;
      font-weight: 300;
      color: $white-color;
    }
  }
  &__span {
    font-size: 45px;
    font-weight: 700;
    color: $white-color;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 10px;

    @include media {
      font-size: 45px;
      font-weight: 700;
      color: $white-color;
      margin-right: 64px;
    }
  }
}
