<form action="#" method="GET" class="form modal__form">
  <div class="form">
    <div class="form__control">
      <label for="Username" class="form__label">Username</label>
      <input
        type="text"
        class=" input input form__input"
        name="Username"
        id="Username"
        minlength="5"
      />
      <div class="form__error">Min length 5 simbol</div>
    </div>

    <div class="form__control">
      <label for="Password" class="form__label">Password</label>
      <input
        type="password"
        class="input input form__input"
        name="Password"
        id="Password"
        required
      />
      <div class="form__error"></div>
    </div>
    <div class="form__control form__control--checkbox">
      <input
        checked
        type="checkbox"
        class="form__input form__input--checkbox"
        name="keep"
        id="keep"
      />
      <label for="keep" class="form__label form__label--checkbox">
        <span class="form__checkbox">&#10004;</span> Keep me signed in</label
      >
    </div>
    <button type="submit" class="button form__button">Sign in</button>
    <div class="form__advanced">
      <a href="#" class="form__link">Forgot password</a>
      <a href="#" class="form__link">Create an account</a>
    </div>
  </div>
</form>
