<div class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <input
        checked
        type="radio"
        id="radio-sign"
        class=" nav__radio nav__radio--sign-in"
        name="form"
      />
      <label for="radio-sign" class="nav__label nav__label--sign-in"
        >Sign in</label
      >
      <span class="nav__devider nav__devider--sign-in"></span>
    </li>
    <li class="nav__item">
      <input
        type="radio"
        id="radio-join"
        class=" nav__radio nav__radio--join-us"
        name="form"
      />
      <label for="radio-join" class="nav__label nav__label--join-us"
        >Join us</label
      >
      <span class="nav__devider nav__devider--join-us"></span>
    </li>
  </ul>
</div>
