.card {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(41, 45, 62, 0.9),
      rgba(41, 45, 62, 0.9)
    ),
    url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    width: 600px;
    height: 540px;
    background-color: #212534;
  }
  &__container {
    width: 520px;
    margin: 0 auto;
  }

  &__tabs {
    background-color: #2b3040;
    margin-bottom: 54px;
  }
  &__list {
    @include flex-row;
    height: 117px;
  }
  &__link {
    @include flex-center;
    text-decoration: none;
    height: 100%;
    border-bottom: 2px solid transparent;
  }

  &__icon-wrapper {
    margin-bottom: 14px;
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: #b7bacd;
  }
  &__icon-active {
    fill: $white;
  }
  &__tab {
    height: 100%;
  }
  &__text {
    color: #b7bacd;
    font-size: 16px;
    position: relative;
  }

  &__text-active {
    color: #fff;
  }
  &__link-active {
    border-bottom: 2px solid $white;
  }

  &__tab:not(:last-child) {
    margin-right: 65px;
  }
}
