.content {
  &__box {
    @include flex-row;
    margin-bottom: 35px;
  }
  &__box-title {
    display: flex;
  }
  &__text-wrap {
    margin-right: 25px;
  }
  &__image-wrap {
    width: 160px;
    height: 230px;
    margin-right: 38px;
  }
  &__image-wrap:hover {
    transform: scale(1.3);
    transition: all 0.9sec ease;
  }

  &__title {
    font-size: 32px;
    color: $white;
    margin-bottom: 10px;
  }
  &__subtitle {
    color: $white;
    margin-bottom: 42px;
  }
  &__description {
    color: $grey;
    width: 310px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }

  &__box {
    display: none;
  }

  &__box-buy {
    display: flex;
    flex: 1;
    height: 230px;
    color: $yellow;
    font-size: 16px;
    line-height: 20px;
  }
  &__box-ratings {
    display: flex;
    flex: 1;
    height: 230px;
    color: bisque;
    font-style: 22px;
    line-height: 20px;
  }
}
