@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
:root {
  --color-black: #171717;
  --color-light-grey: #bababa;
  --color-orange: #eaa258;
  --white: #ffffff;
  --font: "Lato";
  --font-second: "Playfair Display";
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--white);
  font-family: var(--font);
  margin-top: 120px;
  margin-bottom: 120px;
}
main {
  max-width: var(--max-width);
  margin: 0 auto;
  border: 1px solid var(--white);
  box-shadow: 0px 0px 15px var(--color-light-grey);
  padding: 140px 138px 120px 121px;
}
.section__titel {
  font-family: var(--font-second);
  color: var(--color-black);
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.21px;
  margin-bottom: 39px;
}
.section__text::first-letter {
  font-family: var(--font-second);
  color: var(--color-black);
  font-size: 110px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.text {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.09px;
  line-height: 34px;
  opacity: 0.7;
}
.italic {
  color: var(--color-black);
  font-size: 24px;
  font-style: italic;
  letter-spacing: -0.12px;
  line-height: 34px;
  opacity: 0.7;
  margin-left: 10px;
  margin-bottom: 39px;
}
button {
  color: var(--color-orange);
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding: 27px 75px;
  borborder-color: var(--color-orange);
  background-color: var(--white);
}
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
}
