<section class="client">
  <div class="container client__container">
    <h2 class="client__title">Clients</h2>
    <ul class=" client__list client__list--logo">
      <li class="client__item">
        <img
          src="../images/MSFT_logo_png.png"
          alt="MSFT_logo"
          class="image client__image"
        />
      </li>
      <li class="client__item">
        <img
          src="../images/Samsung-logo-2015-Nobg.png"
          alt="Samsung-logo"
          class="image client__image"
        />
      </li>
      <li class="client__item">
        <img
          src="../images/ibm_logo.png"
          alt="ibm_logo"
          class="image client__image"
        />
      </li>
      <li class="client__item">
        <img
          src="../images/Google_2015_logo.svg.png"
          alt="Google_2015_logo"
          class="image client__image"
        />
      </li>
    </ul>
  </div>
</section>
