<section class="latest">
  <div class="container latest__container">
    <h2 class="latest__title">Latest Works</h2>

    <ul class="list latest__list latest__list--work">
      <li class="list__item-work">
        <div class="card latest__card">
          <img src="../images/Work_1.png" alt="" class="latest__image" />
        </div>
      </li>
      <li class="list__item-work">
        <div class="card latest__card">
          <img src="../images/Work_2.png" alt="" class="latest__image" />
        </div>
      </li>
      <li class="list__item-work">
        <div class="card latest__card">
          <img src="../images/Work_3.png" alt="" class="latest__image" />
        </div>
      </li>
      <li class="list__item-work">
        <div class="card latest__card">
          <img src="../images/Work_4.png" alt="" class="latest__image" />
        </div>
      </li>
      <li class="list__item-work">
        <div class="card latest__card">
          <img src="../images/Work_5.png" alt="" class="latest__image" />
        </div>
      </li>
      <li class="list__item-work">
        <div class="card latest__card">
          <img src="../images/Work_6.png" alt="" class="latest__image" />
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- section client -->
<section class="client">
  <div class="container client__container">
    <h2 class="client__title">Clients</h2>

    <ul class="list client__list client__list--logo">
      <li class="list__item-client">
        <img
          src="../images/MSFT_logo_png.png"
          alt="MSFT_logo"
          class="image client__image"
        />
      </li>
      <li class="list__item-client">
        <img
          src="../images/Samsung-logo-2015-Nobg.png"
          alt="Samsung-logo"
          class="image client__image"
        />
      </li>
      <li class="list__item-client">
        <img
          src="../images/ibm_logo.png"
          alt="ibm_logo"
          class="image client__image"
        />
      </li>
      <li class="list__item-client">
        <img
          src="../images/Google_2015_logo.svg.png"
          alt="Google_2015_logo"
          class="image client__image"
        />
      </li>
    </ul>
  </div>
</section>
