:root {
  --white: #ffffff;
  --grey: #9d9d9d;
  --black: #000000;
  --blue: #2a69a6;
  --red: #ff0000;
  --min-width: 1150px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: var(--white);
  min-width: var(--max-width);
  padding: 56px 0 64px 0;
}
.header__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__list-item {
  width: 220px;
}
.header__list-item:not(:last-child) {
  margin-right: 100px;
}
.header__caption {
  margin-bottom: 22px;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.header__text {
  color: var(--grey);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 48px;
  height: 48px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  background-color: var(--blue);
  transition: all 0.2s ease;
}
.header__link:hover {
  fill: var(--blue);
  border: 3px solid var(--grey);
  background-color: var(--white);
}
.header__image-icon {
  transition: all 0.2s ease;
}
