.why{
    background-image: url(../../images/section-1.png);
     background-size: cover;
     background-position: center center;

     &__container{
       @extend %container;     
     }
     &__title{
         font-family: $blue;
         font-size: $H600;
         font-weight: 400;
         line-height: 26px;
     }
}