<section class="mountan">
    <div class="container mountant__container">
        <h2 class="apartamen__title">Mountan</h2>
        <div class="card mountan__card">
            <p class="card__subtitle">Spain</p>
            <h3 class="card__title">Grand Spain Madrid</h3>
            <p class="card__text">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account
            born and I account will give you a complete account of the system</p>
            <a href="" class="button button__card">Book Now</a>
        </div>
    </div>
</section>