<section class="what-say">
    <div class="container what-say__container">
        <h2 class="what-say__title">What Our Tourist Say</h2>
        <div class="what-say__image-side">
            <div class="wrapper"></div>
            <img src="../images/card-3.png" class="image" alt="">
        </div>
        <div class="what-say__text-side card-user">
            <h3 class="card-user__title">Sam Sumon</h3>
            <p class="card-user__text"> But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain But I must
                explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account born and I
                account will give you a complete account of the system was account born and I account will give you a nai the complete
                account of the system</p>
        </div>
    </div>
</section>