.button {
  background-color: $btn-color;
  color: $white;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  text-transform: uppercase;
  box-shadow: $button-shadow;
  padding: 20px 43px;
}
