body {
  font-size: 18px;
  margin: 0 auto;
}
header {
  background-color: #a52a2a;
}
h1 {
  color: #fff;
  text-align: center;
}
footer {
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #000;
}
p {
  margin: 0 15px;
}
.main_pic {
  width: 100%;
}
.auto__pic {
  text-align: center;
}
.auto__pic-thumb {
  border: 3px dashed #000;
}
.blue {
  color: blue;
}
.italic {
  font-style: italic;
  font-weight: bold;
}
