<section class="contact">
  <div class="container contact__container">
    <!-- <div class="contact__header"> -->
      <h2 class="contact__title">Contact</h2>
      <p class="contact__subtitle">
        For new projects, ideas, business or anything you'd like to discuss,
        contact with me!
      </p>
    </div>
    <div class="contact-box">
      <div class="form-wrapper">
        <form action="" method="GET" name="user-contact" class="contact-form">
          <input
            class="input"
            type="text"
            id="user-name"
            placeholder="Your name..."
            autofocus
          /><br />
          <input
            class="input"
            type="email"
            id="user-email"
            placeholder="Your email..."
          /><br />
          <input
            class="input"
            type="number"
            id="user-phone"
            placeholder="Your phone number..."
          /><br />
          <textarea
            class="user-message"
            name="user-contact"
            id=""
            cols="30"
            rows="10"
            placeholder="Your message..."
          >
          </textarea>
        </form>
      </div>
      <div class="owner-contact">
        <ul class="owner-contact list">
          <li class="owner-contact__item">
            <h3 class="list__title">ADDRESS</h3>
            <span class="list__item-addres">
              123 City name, Street, City, Country</span
            >
          </li>
          <li class="owner-contact__item">
            <h3 class="list__title">EMAIL</h3>
            <span class="list__item-email"> cahee@domain.com</span>
          </li>
          <li class="owner-contact__item">
            <h3 class="list__title">PHONE</h3>
            <span class="list__phone">+012 345 6789</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
