<header class="header">
  <nav class="navigation">
    <div class="container navigation__container">
      <h1 class="logo navigation__logo">Cahee</h1>

      <label class="burger navigation__burger">
        <input class="burger__input" type="checkbox" />
        <span class="burger__box">
          <span class="burger__item"></span>
          <span class="burger__item"></span>
          <span class="burger__item"></span>
        </span>
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#" class="navigation__link">Home</a>
          </li>

          <li class="navigation__item">
            <a href="#about" class="navigation__link">About</a>
          </li>

          <li class="navigation__item">
            <a href="#" class="navigation__link">Services</a>
          </li>

          <li class="navigation__item">
            <a href="#" class="navigation__link">Gallery</a>
          </li>

          <li class="navigation__item">
            <a href="#" class="navigation__link">Blog</a>
          </li>

          <li class="navigation__item">
            <a href="#" class="navigation__link">Contact</a>
          </li>
        </ul>
      </label>
    </div>
  </nav>
  <div class="container header__container">
    <section class="header__content">
      <h1 class="header__titel">Fresh Life</h1>
      <p class="header__subtitel">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
      <a class="button" href="#">GET FREE NOW</a>
    </section>
    <a href="#about" class="scroll header__scroll"></a>
  </div>
</header>
