<section class="section-services">
  <div class="container section-services__container">
    <div class="section-services__content-side">
      <ul class="section-services__list">
        <li class="section-services__item">
          <a href="#" class="link-card">
            <div class="link-card__text-wrapper">
              <h3 class="link-card__text">online shopping</h3>
            </div>
            <div class="link-card__icon-wrapper">
              <img src="../images/cart.svg" alt="icon" />
              <!-- <svg class="link-card__icon">
                <use xlink:href="#cart"></use>
              </svg> -->
            </div>
          </a>
        </li>
        <li class="section-services__item">
          <a href="#" class="link-card">
            <div class="link-card__text-wrapper">
              <h3 class="link-card__text">Quality product</h3>
            </div>
            <div class="link-card__icon-wrapper">
              <img src="../images/hand.svg" alt="icon" />
              <!-- <svg class="link-card__icon">
                <use xlink:href="#hand"></use>
              </svg> -->
            </div>
          </a>
        </li>
        <li class="section-services__item">
          <a href="#" class="link-card">
            <div class="link-card__text-wrapper">
              <h3 class="link-card__text">Domestic & international delivary</h3>
            </div>
            <div class="link-card__icon-wrapper">
              <img src="../images/earth.svg" alt="icon" />
              <!-- <svg class="link-card__icon">
                <use xlink:href="#earth"></use>
              </svg> -->
            </div>
          </a>
        </li>
        <li class="section-services__item">
          <a href="#" class="link-card">
            <div class="link-card__text-wrapper">
              <h3 class="link-card__text">Well organized</h3>
            </div>
            <div class="link-card__icon-wrapper">
              <img src="../images/carrot.svg" alt="icon" />
              <!-- <svg class="link-card__icon">
                <use xlink:href="#carrot"></use>
              </svg> -->
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="section-services__picture-side">
      <h2 class="section-services__title">Our Services</h2>
      <img
        class="section-services__image"
        src="images/services.png"
        alt="cup"
      />
    </div>
  </div>
</section>
