.contact-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 164px;
  padding-right: 348px;
}
.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.input {
  width: 502px;
  height: 52px;
  border: none;
  background-color: rgba($input-color, 0.5);
  border-left: 7px solid transparent;
  color: $white;
  font-family: $base-font;
  font-size: $H50;
  font-weight: 700;
  padding-left: 20px;
  margin-bottom: 13px;
}
.input:focus {
  border-left: 7px solid #355b82;
  background-color: rgba($input-color, 1);
}
textarea {
  width: 502px;
  background-color: rgba($input-color, 0.5);
}
.input ::placeholder {
  font-size: 24px;
  color: $white;
}
