.contact {
  @extend %container;
  background-image: url(/imaces/bg-footer.png);
  padding-top: 101px;
  padding-bottom: 120px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 90px;
    line-height: 25px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 48px;
  }

  &__subtitle {
    width: 342px;
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    color: $dark;
    margin-bottom: 46px;
  }
}
