.contact {
  @extend %section;
  height: 100vh;
  background-image: url(/images/contact_bg.png);
  background-size: cover;
  background-position: center center;
  padding-top: 101px;
  padding-bottom: 120px;

  &__container {
    @include flex(center, center, column);
  }

  &__title {
    font-size: 90px;
    line-height: 25px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 48px;
  }

  &__subtitle {
    width: 342px;
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    color: $dark;
    margin-bottom: 46px;
  }
}
