.footer {
  background-color: $footer-bg-color;
  padding-top: 32px;
  padding-bottom: 31px;

  &__container {
    @extend %container;
    @include flex(space-between, center);
  }

  &__copyright {
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    opacity: 0.5;
    color: #b9b9b9;
  }
  &__logo {
    text-decoration: none;
  }
  &__autor {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: $grey;
  }
  &__autor--red {
    font-size: 15px;
    font-weight: 700;
    color: #ff2b58;
  }
}
