.link-card {
  width: 100%;
  min-height: 100px;
  background-color: $white;
  text-decoration: none;
  @include flex(center, center);
  @media screen and (min-width: $screen-desktop) {
    width: 400px;
  }

  &__text-wrapper {
    flex: 1 1;
    @include flex(center, center);
    border-right: 1px solid $dark;
  }

  &__text {
    @include text($H300, 700);
    text-align: center;
    text-transform: capitalize;
  }

  &__icon-wrapper {
    width: 100px;
    @include flex(center, center);
  }

  &__icon {
    @include svg(30px, $dark);
  }
}
