.wrapper {
  @extend %container;
  background-image: url(/images/strobery.png) no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-left: 165px;
  padding-right: 164px;
  margin-bottom: 258px;

  &__link {
    text-decoration: none;
    color: $black;
    font-family: $base-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    border-top: 3px solid transparent;
  }

  &__link:hover {
    border-top: 3px solid $orange;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 1sec ease-in;
  }
  &__item:not(:last-child) {
    margin-right: 40px;
  }
}
