.section-services {
  @extend %section;
  height: 100vh;
  background-color: $service-bg-color;
  padding-top: 100px;
  padding-bottom: 163px;

  &__container {
    @include flex(space-between, center);
    // padding-top: 70px;
    // padding-bottom: 70px;
  }

  &__content-side {
    width: 100%;
    @include flex(center, center, column);
    margin-bottom: 32px;
    flex: 1 1;
    @media screen and (min-width: $screen-desktop) {
      width: 50%;
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  &__list {
    width: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__picture-side {
    @include flex(center, center, column);
    position: relative;
    width: 100%;
    @include padding-hack(40%);
    flex: 1 1;
  }
  &__title {
    @include text($H800, 700, $white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}
