:root {
  --grey: #4a4f56;
  --dark-grey: #3b3f45;
  --main-color: #88839e;
  --secondary-color: #7a7593;
  --hover-color: #625e77;
  --pink: #eb7e7f;
  --white: white;
  --checked-color: rgb(186, 175, 192);
  --max-width: 800px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  background-color: var(--dark-grey);
  flex-grow: 1;
  padding: 48px;
}
.header {
  background-color: var(--grey);
  padding: 24px;
  text-align: center;
}
.header__titel {
  margin-bottom: 8px;
  color: var(--pink);
  font-weight: 400;
  font-size: 24px;
}
.header__subtitle {
  color: var(--pink);
  font-weight: 400;
  font-size: 18px;
}
.list {
  list-style: none;
  max-width: var(--max-width);
  margin: 0 auto 48px;
}
.item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.list__item:nth-child(1) {
  background-color: var(--main-color);
}
.list__item:nth-child(2) {
  background-color: var(--secondary-color);
}
.list__item:nth-child(3) {
  background-color: var(--main-color);
}
.list__item:nth-child(4) {
  background-color: var(--secondary-color);
}
.list__item:nth-child(5) {
  background-color: var(--main-color);
}
.list__item:nth-child(6) {
  background-color: var(--secondary-color);
}
.list__item:hover {
  background-color: var(--hover-color);
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}
.item__input:checked + .item__content {
  text-decoration: line-through;
  color: var(--checked-color);
}
.item__input {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
.item__content {
  color: var(--white);
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
}
.item__name {
  font-size: 22px;
}
.item__description {
  font-size: 14px;
}
.item__description:before {
  content: "(";
}
.item__description:after {
  content: ")";
}
.footer {
  background-color: var(--grey);
  padding: 20px;
  text-align: center;
  color: var(--pink);
  font-size: 22px;
  font-weight: 500;
  max-width: var(--max-width);
  margin: 0 auto;
}
