@import url("https://fonts.googleapis.com/css?family=Lato:300,700&display=swap");
:root {
  --color-white: #ffffff;
  --color-black: #3c3c3c;
  --color-grey: #f6f6f6;
  --color-blue: #00aed9;
  --font-main: "Lato";
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-main);
  padding-left: 73px;
  padding-top: 100px;
  padding-bottom: 117px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  color: var(--color-black);
  margin: 0 auto;
}
.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  text-align: center;
  margin-bottom: 15px;
}
.hr {
  color: var(--color-grey);
  height: 4px;
  width: 45px;
  margin-bottom: 32px;
}
.subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 55px;
  width: 561px;
  text-align: center;
}
.section {
  max-width: var(--max-width);
  margin: 0 auto;
}
.section__list {
}
.list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}
.list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  width: 269px;
  height: 268px;
  background-color: var(--color-blue);
  opacity: 0.9;
}
.card:not(:last-child) {
  margin-right: 31px;
}
.card__image {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  transition: all 1.5s ease-in;
}
.card__image:hover {
  transform: translate(0px, -200px) scale(0.5, 0.5) translateX(117px);
}
.wrapper-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 1px solid var(--color-white);
  margin-right: 4px;
}

.card__social-thumb {
}
.footer {
  max-width: var(--max-width);
  color: var(--color-black);
  margin: 0 auto;
  padding-left: 18px;
}
.footer__list {
  list-style: none;
  display: flex;
  align-items: flex-start;
}
.list__item-persons:nth-child(1) {
  margin-right: 183px;
}
.list__item-persons:nth-child(2) {
  margin-right: 208px;
}
.list__item-persons:nth-child(3) {
  margin-right: 185px;
}
.person {
  display: flex;
  flex-direction: column;
}
.name {
  color: var(--color-black);
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.position {
  color: #646464;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
}
