//colors
$cookies-bg-color: #194277;
$header-bg-color: #3c91fe;
$client-bg-color: #f1f8ff;
$footer-bg-color: #409aff;
$card-bg-color: #f4f4f4;
$expert-bg-color: #f1f8ff;
$white-color: #ffffff;
//text color
$h2-color: #3677fd;
$description-color: #a6aaad;
//card color
$card-bg-color: #f4f4f4;
//section color
$section-color: #f1f8ff;
$btn-text-color: #194277;
//font
$base-font: "Lato";
$max-width: 1140px;
//display
$screen-desktop: 1024px;
