/* Обнуление стилей */
body,
header,
footer,
h1,
p,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------- */
body {
  min-width: 1200px;
  height: 400px;
  margin: 0 15px;
  background: #121116;
  font-family: "Open Sans";
  text-align: center;
}
.header {
  text-align: center;
}
.header__logo {
  margin-top: 108px;
  margin-bottom: 50px;
}
.section {
  color: #c0c0c1;
}
.section__text {
  text-transform: uppercase;
  margin-bottom: 21px;
}
hr {
  display: block;
  height: 1px;
  width: 230px;
  margin-top: 0;
  margin-bottom: 21px;
}
.social__network {
  max-width: 160px;
  margin: 0 auto;
  margin-bottom: 86px;
}
.socialn__network_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
.social__network_item {
}
.footer {
  font-weight: 500;
  font-size: 15px;
  color: #c0c0c1;
}
.footer__text {
  color: #068aaf;
}
