// Colors
$white: #FFFFFF;
$light: #FEFEFE;
$grey-light: #E8E8E8;
$grey: #CCCCCC;
$dark: #333333;
$darker: #232323;
$blue: #5474FD;

// Fonts
$base-font: 'Aleo', serif;
$secondary-font: 'Josefin Sans', sans-serif;
