.button {
  background-color: $btn-sign;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  color: $color-primary;
  font-family: $base-font;
  font-size: $H200;
  font-weight: 700;
  margin-bottom: 33px;
  cursor: pointer;
}
